html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  font-style: normal;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
  display: inline-block;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

h1 {
  color: green;
}
