@mixin list-default {
  margin: 0;
  padding: 0;

  list-style: none;
}


@mixin container-desktop {
  max-width: $desktop-width;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
}

@mixin container-tablet {
  min-width: $tablet-width;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
}

@mixin container-mobile {
  max-width: $mobile-maxWidth;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}
